html,
body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  background-color: #111111;
  color: hsl(140, 15%, 65%);
}

$GREEN: hsl(140, 90%, 40%);

h1,
h2,
h3,
h4,
h5 {
  color: hsl(140, 25%, 85%);
}

a {
  color: $GREEN;
}

.content {
  position: relative;
  max-width: 896px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content__title {
  text-align: center;
  color: hsl(140, 90%, 40%);
  text-shadow: 0px 0px 10px hsl(140, 90%, 40%);
}

.content__subtitle {
  text-align: center;
  color: hsl(140, 50%, 85%);

  @media (max-width: 896px) {
    display: flex;
    flex-direction: column;
  }
}

.content__image {
  width: 128px;
  height: 128px;
  margin: 0 auto;

  @media (min-width: 896px) {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.content__twitch {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.menu {
  background-color: $GREEN;
  padding: 10px;
  margin: 0 0 20px 0;

  &__item {
    display: inline;
    margin: 10px;

    & a {
      color: black;
    }
  }
}