$GREEN: hsl(140, 90%, 50%);
$GREEN_DARKER: mix($GREEN, #000000, 65%);

$BLACK: #111111;

$TEXT: desaturate($GREEN, 70%);
$TEXT_LIGHTER: mix($TEXT, #ffffff, 20%);
$TEXT_LIGHTEST: mix($TEXT, #ffffff, 15%);

@import "_responsive";

html,
body {
  font-family: 'Monaco', 'Courier New', Courier, monospace;
  background-color: $BLACK;
  color: $TEXT;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  color: $TEXT_LIGHTER;
}

table {
  width: 100%;
}

a {
  color: $GREEN;

  &:hover,
  &:active {
    background-color: green;
    color: $BLACK;
  }
}

.template {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;

  &__header {
    flex: 0 0 auto;
  }

  &__main {
    flex: 1 1 auto;
  }

  &__menu,
  &__footer {
    flex: 0 0 auto;
    background-color: $GREEN_DARKER;
    color: $BLACK;
  }

  &__content {
    padding: 0 20px;
    max-width: 1028px;
    margin: 0 auto;
  }

  &__scan-lines {
    pointer-events: none;
    background: linear-gradient(0, transparent 0%, #11111180 100%);
    background-size: auto 2px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.logo {
  float: right;
  width: 96px;
  height: 96px;

  @include from-breakpoint("sm") {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.title,
.subtitle {
  text-align: center;
}

.title {
  color: $GREEN;
  text-shadow: 0 0 10px $GREEN;
}

.subtitle {
  color: $TEXT_LIGHTEST;
  text-shadow: 0 0 10px $TEXT_LIGHTEST;
}

.vertical {
  @include to-breakpoint("sm") {
    display: flex;
    flex-direction: column;
  }
}

.menu {
  background-color: $GREEN_DARKER;
  padding: 0;
  margin: 0;
  width: 100%;

  &__item {
    display: inline-block;

    & a {
      padding: 10px 20px;
      display: inline-block;
      color: black;
    }
  }

  &__item+&__item {
    border-left: solid 2px $BLACK;
  }
}

.console {
  color: $GREEN;
  text-shadow: 0 0 5px $GREEN;

  &__character {
    display: inline-block;
    animation: reveal 0ms step-end 0ms 1 normal forwards;
  }

  &::before {
    content: '> ';
  }

  &::after {
    background-color: $GREEN;
    content: '\00a0';
    animation: blinker 1s linear infinite normal forwards;
  }
}

@keyframes reveal {
  0% {
    visibility: hidden;
    width: 0;
    display: inline;
  }

  100% {
    visibility: visible;
    width: auto;
    display: inline;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}